.radio.radio-primary input {
    background-color: #337ab7;
    border-color: #337ab7;
}
.radio.radio-danger input {
    background-color: #d9534f;
    border-color: #d9534f;
}
.radio.radio-info input {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.radio.radio-warning input {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.radio.radio-success input {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
