{% extends 'layout/layout.html.twig' %}

{% block content %}
	<h1>{{ translate('A 403 error occurred') }}</h1>
	<h2>{{ translate('Your are not allow to acces to that page') }}</h2>
    <h2>{{ translate("Please contact your application administrator") }}</h2>
{% endblock content %}
