{# template de l'objet ODDropzone #}

<div id="{{ objet.id }}">
    <div class="dropzone my-dropzone">
    </div>

    <script id="{{ objet.id }}Script" type="text/javascript">
        $('document').ready(
            {% if objet.event is not empty %}
                {% set events = objet.event %}
                {% include 'graphic-object-templating/oobject/event.js.twig' with events %}
            {% endif %}
        );
    </script>
</div>