{# template de l'objet ODBreadcrumbs #}

<div id="{{ objet.id }}">
    <ul class="breadcrumb">
        {% for item in objet.tree %}
            {% if not(loop.last) %}
                <li><a href="{{ item.url |escape }}">{{ item.label | escape }}</a></li>
            {% else %}
                <li>{{ item.label | escape }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>